body {
	background:black;
	color:white;
	margin:0px;
	font-family: "Chakra Petch", sans-serif;
}

h1 {
	font-size: 30px;
}

p {
	font-size:20px;
}

header {
	border-bottom:solid 3px rgb(84,158,221,1) ;
	padding:20px;
	font-size:32px;
	color:rgb(84,158,221,1);
}

img {
	height:200px;
}

.SecPrincipal {
	background:rgb(92,17,221,1);
	padding-bottom:80px;
	padding-top:80px;
	display:flex;
	justify-content:center;
}

.SubtituloVideos{
	color:rgb(84,158,221,1);
}

.BoxVideo {
	margin-right:5%;
}

.BoxVideos img {
	opacity:0.5;
	height:200px;
}

.BoxVideos img:hover {
	opacity:1.0;
	Border: 1px solid green
}

.BoxVideos {
	display:flex;
	overflow-x:auto;
	gap:10px;
}

.SecVideos{
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 100px;
	margin-top: 50px;
}

.BoxTexto{
	
}

.rodapePar {
	text-align:center;
}
