body {
	background:black;
	color:white;
	margin:0px;
}

header {
	border-bottom:solid 3px rgb(84,158,221,1) ;
	padding:20px;
	font-size:32px;
	color:rgb(84,158,221,1);
}

section {
	background:rgb(92,17,221,1);
	padding-bottom:80px;
	padding-top:80px;
	display:flex;
	justify-content:center;
}

.BoxVideo {
	margin-right:5%;
}

.BoxTexto{
	
}
